:root {
    --h-color: #0084fd;
    --bg-card: #b5ddff;
    --bg-section: #9792e4;
    --title-color: #fdc15f;
    --bg-footer: #333333;
    --st-txt-color: #fff;
    --st-txt-inv: #000;
}

/* reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/* COMMON */

body {
    font-family: 'Open Sans', sans-serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}



/* color */

.color-st {
    color: var(--st-txt-color);
}

.color-st-inv {
    color: var(--st-txt-inv);
}

.color-active {
    color: var(--h-color);
}



/* button */

.button-small {
    background-color: var(--st-txt-color);
    padding: 5px 10px;
    border-radius: 30px;
}

.button-small-active {
    background-color: var(--h-color);
    padding: 10px 45px;
    border-radius: 30px;
}



/* align */

.txt-center {
    text-align: center;
}




/* flex */

.d-flex {
    display: flex;
}

.flex-w {
    flex-wrap: wrap;
}


/* margin */

.margin-b-small {
    margin-bottom: 20px;
}

.margin-b-big {
    margin-bottom: 60px;
}

.margin-t-small {
    margin-top: 20px;
}

.margin-small {
    margin: 10px;
}

.padd-top{
    padding-top: 90px;
}






/* HEADER */

header {
    background-color: var(--h-color);
    position: fixed;
    width: 100%;
}

.h-container {

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0px 20px;
    align-items: center;
}

.h-container .logo {
    padding: 10px 0px;
}

.h-container .logo img {
    height: 30px;
}

.menu ul li a {
    color: var(--st-txt-color);
}

.menu ul li:last-child a {
    color: var(--st-txt-inv);
}

.menu .extended {
    display: none;

}

.menu .extended ul li a {
    text-decoration: none;
}

.menu .extended ul li {
    display: inline-block;
    padding: 0px 5px;
}




/* MAIN */

/* SECTION CARD */

.container {
    width: 80%;
    margin: 0 auto;
    
}

.cards {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 100%;
    margin-top: 20px;
}



.cards .card,
.cards .card-ill {
    background-color: var(--bg-card);
    border-radius: 15px;
    margin-bottom: 30px;
}

.cards .card {
    padding: 25px;
}


.cards .card-ill {
    padding: 15px 15px 0px 15px;
    display: flex;
}




.cards .card .description h1,
.cards .card-ill .description h1 {
    color: var(--h-color);
}

.cards .card p,
.cards .card-ill p {
    margin: 20px 0px;
    line-height: 2rem;
}

.cards .card .description a,
.cards .card-ill .description a {
    margin-bottom: 20px;
    display: inline-block;
}

.cards .card-ill .illustration img {
    width: 100%;
    display: block;

}

.cards .card .icon {
    color: var(--h-color);
    font-size: 4rem;
}






/* Secrion strategic planning */

.strategic-planning{
    background-color: var(--bg-section);
}

.strategic-planning .container .box{
    display: flex;
    flex-wrap: wrap;
    padding: 60px 0px;
}

.box img{
    width: 100%;
}

.box .image-content img{
    margin-bottom: 60px;
}

.box .image-content p{
    line-height: 1.7rem;

}

.box .card{
    background-color: var(--st-txt-color);
    border-radius: 55px;
    padding: 20px;
    margin-top: 30px;
    text-align: center;
}


.box .card p{
    line-height: 1.7rem;
    font-size: 1.2rem;
}


.box .card .down-button{
    background-color: var(--bg-section);
    width: 50px;
    height: 50px;
    border-radius: 100%;
    margin: 20px auto;
}

.down-button span{
    font-size: 1.2rem;
    line-height: 50px;
}













/* Tablet */

@media all and (min-width: 768px) {

    .container {
        width: 90%;
    }

    /* section card */

    .cards {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .cards .card,
    .cards .card-ill {
        margin: 10px;
    }

    .box-two-col{
        display: flex;
    }

    .cards .card {
        padding: 15px;
    }

    .card-ill {
        width: 65%;
    }

    .cards .box-two-col .card{
        justify-content: flex-end;
    }

    .card {
        width: calc(100% / 3 - 20px);
    }

    .card-ill .illustration img {
        width: 60%;
    }

    /* strategic planning */

    .box .card{
        width: 100%;
    }





}














/* Desktop */

@media all and (min-width: 992px) {

    .container{
        width: 80%;
        max-width: 950px;
    }

    /* header */
    .menu .extended {
        display: block;
    }

    .menu .compressed {
        display: none;
    }

    /* Section card */

    .cards .card-ill {
        flex-wrap: wrap;
    }

    .box-two-c .card-ill {
        width: 60%;
    }

    .box-two-c .card {
        width: 40%;
    }

    .cards .card-ill .description {
        width: 60%;
    }

    .cards .card-ill .illustration {
        width: 40%;
        display: flex;
        align-items: flex-end;
    }

    .card-ill .illustration img {
        width: 100%;

    }

    .card p,
    .card-ill p {
        line-height: 1.5rem;
    }

    /* Section strategic planning */

    .strategic-planning .container .box{
        flex-wrap: nowrap;
        display: flex;
        justify-content: space-around;
    }

    .strategic-planning .container .box .card,
    .strategic-planning .container .box .image-content{
        margin: 0px 20px;
        width: 50%;
    }

     .strategic-planning .container .box {
        max-width: 700px;
        margin: 0 auto;
    }

    .strategic-planning .container .box .card{
        align-self: flex-end;
        margin-top: 80px;
    }

    .strategic-planning .container .box .image-content{
        display: flex;
        flex-wrap: wrap;
    }

    .strategic-planning .container .box .image-content .box-txt{
        align-self: flex-end;
    }

    







    








}


/* Desktop Large */

@media all and (min-width: 1200px) {}