:root {
    --h-color: #0084fd;
    --bg-card: #b5ddff;
    --bg-section: #9792e4;
    --title-color: #fdc15f;
    --bg-footer: #333333;
    --st-txt-color: #fff;
    --st-txt-inv: #000;
}

/* reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/* COMMON */

body {
    font-family: 'Open Sans', sans-serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}



/* color */

.color-st {
    color: var(--st-txt-color);
}

.color-st-inv {
    color: var(--st-txt-inv);
}

.color-active {
    color: var(--h-color);
}



/* button */

.button-small {
    background-color: var(--st-txt-color);
    padding: 5px 10px;
    border-radius: 30px;
}

.button-small-active {
    background-color: var(--h-color);
    padding: 10px 45px;
    border-radius: 30px;
}



/* align */

.txt-center {
    text-align: center;
}




/* flex */

.d-flex {
    display: flex;
}

.flex-w {
    flex-wrap: wrap;
}


/* margin */

.margin-b-small {
    margin-bottom: 20px;
}

.margin-small {
    margin: 10px;
}






/* HEADER */

header {
    background-color: var(--h-color);
    position: fixed;
    width: 100%;
}

.h-container {

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0px 20px;
    align-items: center;
}

.h-container .logo {
    padding: 10px 0px;
}

.h-container .logo img {
    height: 30px;
}

.menu ul li a {
    color: var(--st-txt-color);
}

.menu ul li:last-child a {
    color: var(--st-txt-inv);
}

.menu .extended {
    display: none;

}

.menu .extended ul li a {
    text-decoration: none;
}

.menu .extended ul li {
    display: inline-block;
    padding: 0px 5px;
}




/* MAIN */

/* SECTION CARD */

.container {
    margin: 0px 20px;
    padding-top: 53px;
}

.cards {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 100%;
    margin-top: 20px;
}



.cards .card,
.cards .card-ill {
    background-color: var(--bg-card);
    border-radius: 15px;
    margin-bottom: 30px;
}

.cards .card {
    padding: 25px;
}


.cards .card-ill {
    padding: 15px 15px 0px 15px;
    display: flex;
}




.card .description h1,
.card-ill .description h1 {
    color: var(--h-color);
}

.card p,
.card-ill p {
    margin: 20px 0px;
    line-height: 2rem;
}

.card .description a,
.card-ill .description a {
    margin-bottom: 20px;
    display: inline-block;
}

.card-ill .illustration img {
    width: 100%;
    display: block;

}

.card .icon {
    color: var(--h-color);
    font-size: 4rem;
}












/* Tablet */

@media all and (min-width: 768px) {

    .cards {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .cards .card,
    .cards .card-ill {
        margin: 10px;
    }

    .box-two-col{
        display: flex;
    }

    .cards .card {
        padding: 15px;
    }

    .card-ill {
        width: 65%;
    }

    .cards .box-two-col .card{
        justify-content: flex-end;
    }

    .card {
        width: calc(100% / 3 - 20px);
    }

    .card-ill .illustration img {
        width: 60%;
    }


}














/* Desktop */

@media all and (min-width: 992px) {
    .menu .extended {
        display: block;
    }

    .menu .compressed {
        display: none;
    }

    .cards .card-ill {
        flex-wrap: wrap;
    }

    .box-two-c .card-ill {
        width: 60%;
    }

    .box-two-c .card {
        width: 40%;
    }

    .cards .card-ill .description {
        width: 60%;
    }

    .cards .card-ill .illustration {
        width: 40%;
        display: flex;
        align-items: flex-end;
    }

    .card-ill .illustration img {
        width: 100%;

    }

    .card p,
    .card-ill p {
        /* margin: 20px 0px; */
        line-height: 1.5rem;
    }








}


/* Desktop Large */

@media all and (min-width: 1200px) {}